In [1]:
import pandas as pd
import numpy as np

In [2]:
vykony = pd.read_csv("./data/vykazy/vyk_23_vykony_new.csv", sep=";", encoding="windows-1250")

In [6]:
vykony_pivot = pd.get_dummies(vykony.set_index('CDOKL')['KOD']).groupby('CDOKL').sum()
vykony_pivot
co_occurrence_matrix =  np.dot(vykony_pivot.T, vykony_pivot)
# Normalize each row by dividing by row sums
row_sums = co_occurrence_matrix.sum(axis=1)

In [38]:
row_sums

array([    88,     12,   1132,   1536,     64,   1674,   6689,  33036,
        34113,    466,    276,     20,   1077,  18178,   4538,  25203,
        10554,   1346,  48995,   3591,     25,   1047,     25,   1734,
          481,  28471,   4776,    856,     34,  11804,  37049, 136325,
           24,      1,   6604,  31967,     25,     16,      8,   1230,
          224,    240,   3758, 129307,  22138,  19213,   2275,    258,
        70140,  11299,  11138,   5994,      3,   3997,  10745,   1132,
          722,   6521,    566,     13,   2307,   2092,     21,    226,
           51,     59,     64,   1517,    174,    130,     13,     54,
          220,    235,     19,     60,   3541,     54,    306,    575,
          538,    116,     64,     13,     49,  16471,   4188])

In [ ]:
row_sums[row_sums == 0] = 1  # Avoid division by zero
co_occurrence_matrix = co_occurrence_matrix / row_sums[:, np.newaxis]


# normalize values in matrix across rows
np.fill_diagonal(co_occurrence_matrix, 0)

In [8]:
# co_occurrence_matrix
co_occurrence_df = pd.DataFrame(co_occurrence_matrix, index=vykony_pivot.columns, columns=vykony_pivot.columns)

In [27]:
co_occurrence_df

,41,42,6134,9111,9113,9115,9117,9119,9125,9127,...,99878,99879,99880,99881,99882,99883,99893,99895,99976,99991
41,0.000000,0.0,0.034091,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.056818,0.000000
42,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.083333,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
6134,0.002650,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.006184,0.001767,0.000883,0.0,0.000000,0.0,0.000000,0.018551,0.000000
9111,0.000000,0.0,0.000000,0.0,0.0,0.008464,0.000651,0.001953,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
9113,0.000000,0.0,0.000000,0.0,0.0,0.015625,0.000000,0.062500,0.203125,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99883,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.015625,0.000000,0.000000
99893,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000
99895,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.020408,0.0,0.000000,0.000000,0.000000
99976,0.000304,0.0,0.001275,0.0,0.0,0.000000,0.000000,0.058770,0.000000,0.000486,...,0.0,0.000121,0.000182,0.000607,0.0,0.000000,0.0,0.000000,0.000000,0.000061
99991,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.029608,0.157832,0.004298,...,0.0,0.000239,0.000239,0.000000,0.0,0.000000,0.0,0.000000,0.000239,0.000000

In [28]:
# Get rows that have at least one positive value
co_occurrence_df = co_occurrence_df[(co_occurrence_df > 0).any(axis=1)]

In [31]:
co_occurrence_df.index

Index([   41,    42,  6134,  9111,  9113,  9115,  9117,  9119,  9125,  9127,
        9135,  9137,  9139,  9215,  9217,  9219,  9220,  9221,  9223,  9227,
        9233,  9237,  9241,  9249,  9509,  9511,  9513,  9523,  9525,  9532,
        9541,  9543,  9547,  9555,  9561, 22114, 25135, 25213, 25215, 25217,
       42021, 42022, 42023, 42050, 42051, 42510, 42520, 44211, 44213, 44251,
       51811, 51881, 63063, 63417, 63531, 63532, 76211, 76213, 76217, 99782,
       99837, 99838, 99840, 99841, 99842, 99843, 99844, 99845, 99846, 99847,
       99849, 99872, 99873, 99874, 99877, 99878, 99879, 99880, 99881, 99882,
       99883, 99893, 99895, 99976, 99991],
      dtype='int64')

In [40]:
co_occurrence_df[99976].sort_values(ascending=False)

99872    0.131915
99782    0.107553
9525     0.088235
41       0.056818
51881    0.038529
           ...
63531    0.000000
63532    0.000000
76211    0.000000
76213    0.000000
9139     0.000000
Name: 99976, Length: 85, dtype: float64

In [10]:

# co_occurrence_matrix = co_occurrence_matrix / co_occurrence_matrix.sum(axis=1)
co_occurrence_df.reset_index(inplace=True)
co_occurrence_df.rename(columns={'index': 'kod'})

,kod,41,42,6134,9111,9113,9115,9117,9119,9125,...,99878,99879,99880,99881,99882,99883,99893,99895,99976,99991
0,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,99883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,99893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,99895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,99976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,99991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN