In [1]:
import pandas as pd

In [ ]:
kody_df = pd.read_csv("./data/ciselniky_material/CZ301VYK.csv", sep=";", encoding="windows-1250")

kody_doplnek_df = pd.read_csv("./data/ciselniky_material/CZ302VYK.csv", sep=";", encoding="windows-1250")
kody_df = pd.merge(kody_df, kody_doplnek_df, on="KOD", how="left")

kody_df.head()

,KOD,PLATIOD,PLATIDO,NAZ,ODB,OME,OMO,ZUM,TVY,CTN,...,PJP,BOD,KAT,UMA,UBO,AGREG,_1_20240706085845_x,TYP,TEXT,_1_20240706085845_y
0,41,19970701,30001231,JEDEN DEN POBYTU PACIENTA VE STACIONÁŘI I.,000,A,NaN,NaN,480.0,49.0,...,NaN,175.0,NaN,NaN,NaN,NaN,NaN,1.0,"Vykazuje se, pokud délka pobytu dosáhne alespo...",NaN
1,42,20090101,30001231,JEDEN DEN POBYTU PACIENTA VE STACIONÁŘI II.,000,A,NaN,NaN,180.0,25.0,...,NaN,87.0,NaN,NaN,NaN,NaN,NaN,1.0,"Vykazuje se, za 1 den pobytu pacienta ve staci...",NaN
2,43,20230101,30001231,OŠETŘOVACÍ DEN V OTEVŘENÉM DENNÍM STACIONÁŘI S...,000,A,NaN,NaN,NaN,170.0,...,NaN,1250.0,NaN,NaN,NaN,NaN,NaN,1.0,OŠETŘOVACÍ DEN V OTEVŘENÉM DENNÍM STACIONÁŘI S...,NaN
3,43,20230101,30001231,OŠETŘOVACÍ DEN V OTEVŘENÉM DENNÍM STACIONÁŘI S...,000,A,NaN,NaN,NaN,170.0,...,NaN,1250.0,NaN,NaN,NaN,NaN,NaN,1.0,Péče je poskytována na základě indikace psychi...,NaN
4,130,19970701,30001231,DLOUHODOBÁ MIMOTĚLNÍ RESPIRAČNÍ PODPORA NOVORO...,304,S,NaN,Z,480.0,1920.0,...,NaN,21382.0,NaN,NaN,NaN,NaN,NaN,1.0,Dlouhodobá mimotělní respirační podpora ECLS (...,NaN

In [9]:
used_kody = pd.read_csv("./data/vykazy/vyk_23_vykony_new.csv", sep=";", encoding="windows-1250")

,SERIAL,CDOKL,DATUM,KOD,ODBORNOST,DG,LOKALIZACE,ODDELENI,CAS,MNOZSTVI,BODY,CENAMAT,CENAUZIV,CENA,SERIALCDB,CISPAC
0,6198,6384,17.01.2023 00:00,42022,402.0,C719,NaN,10626,NaN,1,435.000,0.0,0.0,391.500,6198.0,213292
1,6199,6384,17.01.2023 00:00,9543,402.0,C719,NaN,10626,NaN,1,0.000,0.0,0.0,0.000,6199.0,213292
2,6200,6386,18.01.2023 00:00,9511,402.0,C719,NaN,10626,NaN,1,45.000,0.0,0.0,40.500,6200.0,213292
3,6317,6442,17.01.2023 00:00,42022,402.0,N47,NaN,10837,NaN,1,435.000,0.0,0.0,391.500,6317.0,1892691
4,6318,6442,17.01.2023 00:00,9543,402.0,N47,NaN,10837,NaN,1,0.000,0.0,0.0,0.000,6318.0,1892691

In [19]:
kody_df_used_only = kody_df[kody_df["KOD"].isin(used_kody["KOD"])][["KOD", "NAZ", "TEXT", "ODB"]].reset_index(drop=True)
kody_df_used_only.head()

kody_df_used_only.columns = ["code", "name", "description", "odbornost"]
kody_df_used_only.to_json("./data/ciselniky/vykon.jsonl", orient="records", lines=True)

In [14]:
len(kody_df_used_only)

102

In [27]:
leky_df = pd.read_csv("./data/ciselniky_material/CZ211LEK.csv", sep=";", encoding="windows-1250")
leky_df["file"] = "Hromadně vyráběné léčivé přípravky"
leky_df["file_code"] = "01"
# leky_df.head()

ivl_df = pd.read_csv("./data/ciselniky_material/CZ212IVL.csv", sep=";", encoding="windows-1250")
ivl_df["file"] = "Individuálně připravované léčivé přípravky a výrobky transfuzních stanic a radiofarmaka"
ivl_df["file_code"] = "02"
# ivl_df.head()

szm_df = pd.read_csv("./data/ciselniky_material/CZ213SZM.csv", sep=";", encoding="windows-1250")
szm_df["file"] = "Zdravotnické prostředky"
szm_df["file_code"] = "03"
# leky_df.columns = ["code", "name", "description", "odbornost"]
# leky_df.to_json("./data/ciselniky/lek.jsonl", orient="records", lines=True)
# len(leky_df)

materialy_df = pd.concat([leky_df, ivl_df, szm_df], axis=0, ignore_index=True)
materialy_df = materialy_df[["KOD", "NAZ", "DOP", "file", "file_code"]].reset_index(drop=True)
materialy_df.columns = ["code", "name", "description", "file", "file_code"]
materialy_df.head()
# materialy_df.columns = ["code", "name", "description", "odbornost"]
materialy_df.to_json("./data/ciselniky/materialy.jsonl", orient="records", lines=True)
# len(materialy_df)

/var/folders/sf/yy_tgz8n46x94kfzmknffnjm0000gn/T/ipykernel_15834/2667646204.py:1: DtypeWarning: Columns (0,10,11,34) have mixed types. Specify dtype option on import or set low_memory=False.
  leky_df = pd.read_csv("./data/ciselniky_material/CZ211LEK.csv", sep=";", encoding="windows-1250")
/var/folders/sf/yy_tgz8n46x94kfzmknffnjm0000gn/T/ipykernel_15834/2667646204.py:11: DtypeWarning: Columns (7,11,29,35,38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  szm_df = pd.read_csv("./data/ciselniky_material/CZ213SZM.csv", sep=";", encoding="windows-1250")

In [24]:
materialy_df["TYP"].value_counts()

TYP
19.0    14546
84.0     7462
8.0      4019
7.0      3900
42.0     3679
44.0     2656
1.0      2566
4.0      1989
77.0     1710
67.0     1579
3.0      1507
2.0      1462
68.0     1440
87.0     1397
86.0     1346
78.0     1136
55.0     1131
53.0      938
92.0      909
71.0      878
80.0      772
64.0      741
69.0      731
88.0      719
60.0      684
56.0      672
10.0      667
83.0      646
91.0      643
85.0      629
5.0       532
43.0      452
6.0       442
12.0      355
41.0      344
59.0      294
82.0      272
9.0       193
54.0      171
90.0      162
70.0      134
11.0      126
89.0      115
13.0      109
62.0      102
26.0       76
24.0       61
30.0       38
81.0       26
14.0       16
97.0        5
15.0        4
16.0        2
Name: count, dtype: int64

In [4]:
diag_df = pd.read_csv("./data/mkn/01_MKN10_5E_2025_cp_w1250.csv", sep=";")

diag_df.head()

/var/folders/sf/yy_tgz8n46x94kfzmknffnjm0000gn/T/ipykernel_10616/2832354855.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  diag_df = pd.read_csv("./data/mkn/01_MKN10_5E_2025_cp_w1250.csv", sep=";")

,Kod,KodSTeckou,CleneniNaPatemMiste,Nazev,NazevPlny,ZnakProDruh,Zakladni,UmrtiPricina,NepripustnePohlavi,NepripustnyVekOd,...,Skupinaplatnosti02,Skupinaplatnosti03,Skupinaplatnosti04,Skupinaplatnosti05,Skupinaplatnosti06,Skupinaplatnosti07,Skupinaplatnosti08,Skupinaplatnosti09,PlatnostOd,PlatnostDo
0,A00,A00,NaN,Cholera,Cholera,NaN,NaN,3,NaN,NaN,...,0,0,0,0,1,1,0,0,01.01.1994,NaN
1,A000,A00.0,NaN,Cholera‚ původce: Vibrio cholerae 01‚ biotyp c...,Cholera‚ původce: Vibrio cholerae 01‚ biotyp c...,NaN,NaN,1,NaN,NaN,...,0,0,0,0,1,0,1,1,01.01.1994,NaN
2,A001,A00.1,NaN,Cholera‚ původce: Vibrio cholerae 01‚ biotyp e...,Cholera‚ původce: Vibrio cholerae 01‚ biotyp e...,NaN,NaN,1,NaN,NaN,...,0,0,0,0,1,0,1,1,01.01.1994,NaN
3,A009,A00.9,NaN,Cholera NS,Cholera NS,NaN,NaN,1,NaN,NaN,...,0,0,0,0,1,0,1,1,01.01.1994,NaN
4,A01,A01,NaN,Břišní tyfus a paratyfus,Břišní tyfus a paratyfus,NaN,NaN,3,NaN,NaN,...,0,0,0,0,1,1,0,0,01.01.1994,NaN

In [5]:
used_diag = [
    "C719",
    "N47",
    "C629",
    "C811",
    "C402",
    "N926",
    "C819",
    "A630",
    "N871",
    "C960",
    "D481",
    "C181",
    "R91",
    "C64",
    "C812",
    "C492",
    "C414",
    "C837",
    "N872",
    "D350",
    "C830",
    "C810",
    "C829",
    "C56",
    "C764",
    "N870",
    "C222",
    "Q850",
    "D162",
    "D126",
    "D381",
    "C716",
    "R104",
    "C495",
    "C229",
    "D229",
    "C435",
    "C490",
    "C051",
    "C188",
    "C189",
    "C023",
    "C717",
    "C473",
    "C740",
    "C400",
    "K635",
    "C410",
    "C910",
    "C61",
    "C639",
    "C480",
    "C621",
    "C493",
    "D485",
    "Z031",
    "C413",
    "D1808",
    "D688",
    "D430",
    "C403",
    "C710",
    "D181",
    "C852",
    "D361",
    "D330",
    "C713",
    "C383",
    "G400",
    "C439",
    "C859",
    "C496",
    "R224",
    "K358",
    "C692",
    "D219",
    "C846",
    "C712",
    "Q959",
    "Z018",
    "C839",
    "D489",
    "C833",
    "R599",
    "K769",
    "C343",
    "Q858",
    "C755",
    "C419",
    "D139",
    "D27",
    "C474",
    "C380",
    "T959",
    "C723",
    "C482",
    "Q998",
    "C411",
    "C409",
    "D480",
    "D215",
    "D210",
    "D391",
    "D610",
    "C220",
    "D66"
]

In [11]:
diag_df_used = diag_df[diag_df["Kod"].isin(used_diag)]

diag_df_used.rename(columns={"Kod": "code", "NazevPlny": "description"}, inplace=True)
diag_df_used[["code", "description"]].reset_index(drop=True).to_json("./data/mkn/mkn_used.jsonl", orient="records", lines=True)

# diag_df_used.to_csv("./data/mkn/01_MKN10_5E_2025_cp_w1250_used.csv", sep=";", index=False)

/var/folders/sf/yy_tgz8n46x94kfzmknffnjm0000gn/T/ipykernel_10616/331049571.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diag_df_used.rename(columns={"Kod": "code", "NazevPlny": "description"}, inplace=True)